<h1>details</h1>
<!-- <form class="add-word">
  <input type="text" name="word" id="word" placeholder="The Word" />
  <select name="hearTheWord" id="hear-the-word">
    <option value="mom">Mom</option>
    <option value="dad">Dad</option>
    <option value="grandma">Grandma</option>
    <option value="grandpa">Grandpa</option>
  </select>
  <div class="date-picker">
    <label for="date">Select a date:</label>
    <input class="date-picker" type="date" name="date" />
  </div>

  <div class="upload-form">
    <label for="file">Select file to upload:</label>
    <input type="file" name="file" id="file" />
  </div>
  <button type="submit" class="btn-add-word">Add Word</button>
</form> -->
