.word-card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  height: 200px;
  width: 200px;
  border-radius: 5px;
  perspective: 800px;
  cursor: pointer;
  

  .card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 0.6s ease-out;

    .card-front,
    .card-back {
      position: absolute;
      width: 100%;
      height: 100%;
      backface-visibility: hidden;
      border-radius: 5px;
      box-shadow: 2px 2px 8px 0px rgba(55, 151, 105, 0.5);
      color: #293241;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 1.2rem;
    }

    .card-front {
      z-index: 2;
      background-color: #FFF;
    }

    .card-back {
      transform: rotateY(180deg);
      background-color: #FFF;
      transform-origin: center;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      padding: 10px;
      text-align: center;
      font-size: 1rem;

      .the-word {
        font-size: 1.5rem;
        margin-top: 0;
      }

      .time-heard {
        margin-bottom: 0;
      }

      .heard-by-list {
        margin-top: 0;
        list-style: none; 
          li {
              display: inline-flex;
              justify-content: center;
              align-items: center;
              color: white;              
              height: 20px;
              width: max-content;
              padding: 5px;
              margin: 5px 2px;
              border-radius: 5px;
            }
      }
      .actions {
        display: flex;
        gap: 120px;
               
        .remove-btn {
          width: 2em;
          height: 2em;
          background-color: inherit;
          border-radius: 100%;
          border: 1px solid black;
          transition: 0.15s;
          cursor: pointer;
        
          &:hover {
           background-color: orangered;
            color: white;
          }
        }
      }
    }
  }
  &:hover {
    .card-inner {
      transform: rotateY(180deg);
    }
  }
}